table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

/* body {
    font-family: monospace;
} */

.header {
    text-align: center;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100;
}

p.header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100;
}